.firstName{
    font-size: 25px;
    height: 45px;
    background-color: #A83A22;
    color: white;
}
.form-group{
    background-color: #C4C4C4;
}
.homePage{
    background-color: #A83A22;
    color: white;
    font-size: 30px;
}
.pics{
    width: 95%;
    height: 250px;
    /* border-radius: ; */
    background-image: url("../booking/wallpaper.webp");
    background-size: cover;
    background-position: center;
}
body{
    /* background-color: #692111; */
    background-image: url("../booking/wallp.webp");
    background-size: cover;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.formHeight{
    height: 300px;
}
ol{
    font-size: 25px;
}