body{
    margin: 0px;
    padding: 0px;
    background: rgb(69, 21, 11);
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: rgb(255, 255, 255);
    background-color: aqua ;
    width: 300px;
    /* height: 400px; */
    margin: 10px;
    border-radius: 15px 15px 0 0;
}

.card-image{
    height: 120px;
    margin-bottom: 15px;
    background-size: cover;
    /* max-width: 100%; */
}

.card h2{
    padding: 10px;
}

.card p{
    padding: 10px;
}

.card a{
    background-color: blue;
    color: aqua;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}

.card:hover{
    background-color: rgb(97, 25, 25);
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.card-image-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}