body {
  background-color: #692111;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container{
  background-color: rgb(217, 217, 240);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 10px grey;
}
.signup-box {
  width: 360px;
  margin: auto;
  border-radius: 3px;
  margin-left: 10vh;
  margin-right: 30vh;
}
.login-box {
  width: 360px;
  margin: auto;
  border-radius: 3px;
  margin-left: 10vh;
  margin-right: 20vh;
}
#submit:hover {
  opacity: 0.7;
}
h1 {
  text-align: center;
  padding-top: 15px;
}
h4 {
  text-align: center;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
form {
  width: 300px;
}
form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid grey;
  border-radius: 6px;
  outline: none;
}
input[type="button"] {
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
.container{
    background-color: rgb(217, 217, 240);
    /* margin-right: 80%;
    margin-left: 10%;
    padding: 16px; */
    /* margin-top: 10%; */
    /* /* margin-bottom: 10%;} */
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
a {
  text-decoration: none;
}
.btn{
  color: white;
  background-color: #692111;
  margin-bottom: 5px;
}
#submit{
  background-color: rgb(136, 187, 136);
  border: none;
  width: 35vh;
  height: 30px;
  border-radius: 6px;
}


