body {
  background-color: #692111;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row{
  background-color: #595959;
}

.column{
  background-color: yellow;
  box-shadow: 2px saddlebrown;
  border: 2px solid light gray!important;
}
