body {
  background-color: #692111;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#detailsContainer {
  /* background-color: #595959; */
  

}


.column {
  background-color: wheat;
  margin: 2%;
  border: 2px solid light rgb(0, 0, 0);
  /* box-shadow: 5px 5px 5px rgb(85, 85, 80); */
  border-radius: 1.5 rem;
}

.btn {
  background-color: #692111;
  color: white;
  margin: 1%;
}

.img-fluid {
  margin: 2%;
}

.carousel-image{
  margin: auto ;
}